.authContainer{
    width: 50%;
    margin: 10% auto;
    background-color: var(--amarillo);
    display: flex;   
    justify-content: center;
    flex-flow: row wrap;   
}
.authContainer h1{
    width: 100%;
   margin-left: 1rem;
   margin-top: 1rem;
   font-family: var(--fuente2);
}
.authContainer form{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

}
.authContainer input {     
    padding: 0.7rem 0.4rem; 
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    color: black;
    border-bottom: 1px solid black;
}
.authContainer button{
    padding: 1rem ;
    margin-top: 0.5rem;
    width: 55%;
    background-color: transparent;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
    border: 1px solid black;
    margin: auto;
  }
  .error,.message{
   color: red;
   font-style: italic;
   font-weight: 600; 
   font-size: 0.9rem;
   width: 100%;
   text-align: center;
  }
  .crearC{
    text-align: center;
    margin-top:1.4rem;
    font-size: 0.85rem;
    text-decoration: none;
    width: 100%;
  }
  .message{
      margin-top: 1.4rem;
      color:black
  }
  .authContainer.checkout{
    margin: 0 auto;
    margin-bottom: 4rem;
    background-color: white;
    border:2px solid black;
    width: 80%;   
  }
  .authContainer.checkout form{
      width: 30%;
  }
  .authContainer.checkout input{
      width: 100%;
  }

  .required{    
    width: 184px;
    font-size: 0.8rem;
    margin-top: -10px;
    margin-bottom: 0.6rem;
  }
  .text{
      margin-bottom: 1rem;
      font-size: 0.9rem;
  }
 