.item-count {
    display:flex;
    margin-top:2rem
  }
  
  .item-count button {
    cursor: pointer;
  }
  .contador{
    border:2px solid black;
    padding: 1rem 0.5rem;
  }
  .contador button {
    border:none;
    background-color: transparent;
    font-size: 1rem;
  }
  .agregar button {
    padding: 1.3rem 0.5rem;
    background-color: var(--amarillo);
    border:none;
    margin-left: 1rem;
    font-weight: 600;
  }