.cart{
    margin-top: 8%;
    font-size: 1.3rem;
}

.item-cart{
    background-color: var(--amarillo);
    border-bottom: 2px solid black;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.item-cart div{
    display: flex;   
}
.item-cart div button{
    font-size: 1.3rem;
    margin: 0 1.4rem;
}
.item-cart button {
    border: none;
    background-color: transparent;
    font-weight: 600;
}
.item-cart h4{
    width: 25%;
    text-align: center;
}
.total{
    background-color: black;
    color: var(--amarillo);
    margin-bottom: 1rem;
}

.item-cart.total button{
    color:yellow;
    font-size: 1rem;
}
.envio{
    font-size: 0.8rem;
    color: wheat;
}
.cart-vacio{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
.item-cart.total button a{
    color: inherit;
    text-decoration: none;
}
.item-cart.total button.vaciar{
    font-size: 0.75rem;
    margin: 0 
}