nav{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;   
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    z-index: 3;
    color:var(--amarillo)
  }
  nav a{
  color: black;
  text-decoration: none;
}
  .marca{
    font-family: var(--fuente2);
    font-size: 2rem;  
    font-weight: 900;
    cursor: pointer;
    color: black;   
  }
  .categorias{ 
    background-color: var(--amarillo);
    color:black;
    cursor: pointer;
    border-bottom:2px solid black
   
  }
  .categorias span{
    display: inline-block;
    font-size: 0.85rem;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
  
  }
  .categorias span:hover{
    background:black;
    color:var(--amarillo)
  }
  .icon{
    display: inline-block;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: black; 
    position: relative;
  }
  .cart-length{
    position: absolute;
    top: -10px;
    right: -15px;
    background-color:var(--amarillo) ;
    padding: 0.2rem 0.5rem;
    color:black;
    border-radius: 50%;
    font-weight: 600;
  }
  .icon svg{
    width: 1.5em;
    height: 1.5em;
  }

  /* -------------------------------DROPDOWN */

  button.dropdown-toggle.btn.btn-success{
    background-color: transparent;
    border:none;
    color:var(--amarillo);
    font-weight: 700;
  }
  .icon.user{
    padding: 0.2rem;
    font-size: 1rem;
  }
  a.dropdown-item{    
    padding: 1rem;
    display: block;    
    text-decoration: none;
    color: black;
  }
  a.dropdown-item:hover{
    background-color: var(--amarillo);
  }
  p.dropdown-item{
    color: var(--amarillo);
    padding: 1rem;
    display: block;    
    text-decoration: none;
    color: black;
  }
  p.dropdown-item:hover{
    background-color: var(--amarillo);
    cursor: pointer;
  }
  .dropdown-menu.show{   
    margin-top: 1rem;
    background-color: white;  
    transform: translate(-67px, 41px);
    border: 2px solid black;
    
  }
  p.email-dropdown-item{
    padding: 1rem;
    color:black
  }
  p.email-dropdown-item:hover{   
    background-color: white;
   
  }