nav{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;   
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    z-index: 3;
    color:var(--amarillo)
  }
  nav a{
  color: black;
}
  .marca{
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;  
    font-weight: 900;
    cursor: pointer;
  }
  .categorias{ 
    background-color: var(--amarillo);
    color:black;
    cursor: pointer;
   
  }
  .categorias span{
    display: inline-block;
    font-size: 0.85rem;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
  
  }
  .categorias span:hover{
    background:black;
    color:var(--amarillo)
  }
  .icon{
    display: inline-block;
    padding: 0.5em;
    border-radius: 50%;
    background-color: black; 
    position: relative;
  }
  .cart-length{
    position: absolute;
    top: -10px;
    right: -15px;
    background-color:var(--amarillo) ;
    padding: 0.2rem 0.5rem;
    color:black;
    border-radius: 50%;
    font-weight: 600;
  }
  .icon svg{
    width: 1.5em;
    height: 1.5em;
  }