
:root{
  --amarillo: #FFE800;
  --celeste:rgb(76, 176, 243)
}

/*--------------------------------------INTROANIMACION*/
@keyframes fondo {
  0% {
    /* transform: translateY(0); */
    opacity: 1;
  }
  50%{
    opacity: 0;
     
  }
  100%{
    transform: translateX(150%); 
    
  }
}
@keyframes titulo {
  from {   
    transform: translateX(-100%);
  }
  to{   
    transform: translateX(160%);  
    
  }
}
@keyframes translate{
0% {
  transform: translate3d(0px, 0px, 0px);
}
100% {
  transform: translate3d(-50%, 0px, 0px);
}
}
#fondoAnimacion {
  background-color:var(--celeste);
  height: 100vh;
  position:absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  animation: fondo 1.5s;
  animation-timing-function: linear;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

#h1Animado {  
  z-index: 3;
  padding: 0 1rem;
  font-size: 13rem; 
  position:absolute;
  top: 25%;
  font-family: 'Permanent Marker', cursive;
  color:var(--amarillo);
  transform: translateX(-100%); 
  animation: titulo 3s;
  animation-timing-function: linear;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff00ae; */
}

/*---------------------------------------GENERALES*/
*{
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body{
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

.hide{
  display: none;
}
/*-------------------------------------------HEADER*/

header{
  height: 100vh;
  background: no-repeat center/cover url("http://images.ctfassets.net/vnxry7jc7f2k/5RpJJJgujK6rFOlN0ljzi7/06352b48f4acafa52500299cb6475299/leggera_SLIDER_MOOD.jpg?w=1200&q=80");
  color:var(--amarillo);  
  position: relative;
}

.promo{
  animation-name: translate;
  animation-duration: 12.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  color:black;  
  font-weight: 600;
  display: flex;
  width: 1550px;
  font-weight: 600;
  }

  .newsletter{ 
    position: relative;
    text-align: center;  
    padding: 2rem;
    background-color: var(--amarillo);
    position: absolute;
    bottom: 7%;
    left: 5%;
    width: 20%;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    border: 2px solid black;
  }
  .newsletter button.x{
    border: none;
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 1.5rem;
  }
  .newsletter p{
    padding: 1rem ;
  }
  .newsletter input{
    background-color: transparent;
    border: none;
    color: black;
    border-bottom: 1px solid black;
  }

  .newsletter button{
    background-color: transparent;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid black;
  }

  .newsletter form{
    display: flex;
  }
/*--------------------------------------NAVBAR*/
nav{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;   
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  z-index: 3;
}
.marca{
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;  
  font-weight: 900;
  cursor: pointer;
}
.shop-about{ 
  background-color: var(--amarillo);
  color:black;
  cursor: pointer;
 
}
.shop-about span{
  display: inline-block;
  font-size: 0.85rem;
  padding: 0.5rem 0.8rem;
  font-weight: 600;

}
.shop-about span:hover{
  background:black;
  color:var(--amarillo)
}
.icon{
  display: inline-block;
  padding: 0.5em;
  border-radius: 50%;
  background-color: black; 
}
.icon svg{
  width: 1.5em;
  height: 1.5em;
}
/*--------------------------------------------ITEM*/
.item{
  width:30%;
  height:370px;
  text-align:center;
  padding:1.5rem 0;
  margin:0.5rem;
  background:#f7f5f5;
  position:relative;
  overflow: hidden;
}
.price{
  background-color: var(--amarillo);
  transform:rotate(7deg);
}
.add-to-cart{
  padding: 0.5em 1rem;
  background-color: black; 
  border:none;
  color:white;
  margin-top: 1rem;
  cursor:pointer;  
}
.item-img{
  transition: all 0.4s;
  z-index: 2;
  position: relative;
}
.item:hover .item-img{
  transform:rotate(10deg);
  transition: all 0.2s;
}
.animacion-item{
  position:absolute;
  top:30%; 
  font-size: 5rem;
  font-family: 'Permanent Marker', cursive;
  color:var(--amarillo); 
  transform: translateX(-100%);  
}
.item:hover .animacion-item{
  transform: translateX(100%);  
  transition: all linear 1.5s;
}
/*---------------------------------------MEDIAQUERIES*/
@media (min-width:1000px){
  #h1Animado{   
    animation: titulo 2.5s;
    animation-timing-function: linear;
  }
}

@media (max-width:1066px){
  .newsletter {
    width: 50%;
  }
  .newsletter form{
    flex-flow: row wrap;
  }
}

@media (max-width:450px){
  .newsletter{
    display: none;
  }
}
@media (max-width:496px){
  nav{
    justify-content: center;
  }
  .shop-about{
    display: none;
  }
}