
:root{
  --amarillo: #FFE800;
  --celeste:rgb(76, 176, 243)
}

/*--------------------------------------INTROANIMACION*/
@keyframes fondo {
  0% {
    /* transform: translateY(0); */
    opacity: 1;
  }
  50%{
    opacity: 0;
     
  }
  100%{
    transform: translateX(150%); 
    
  }
}
@keyframes titulo {
  from {   
    transform: translateX(-100%);
  }
  to{   
    transform: translateX(160%);  
    
  }
}

#fondoAnimacion {
  background-color:var(--celeste);
  height: 100vh;
  position:absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  animation: fondo 1.5s;
  animation-timing-function: linear;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

#h1Animado {  
  z-index: 3;
  padding: 0 1rem;
  font-size: 13rem; 
  position:absolute;
  top: 30%;
  font-family: 'Permanent Marker', cursive;
  color:var(--amarillo);
  transform: translateX(-100%); 
  animation: titulo 3s;
  animation-timing-function: linear;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff00ae; */
}

/*---------------------------------------GENERALES*/
*{
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body{
  margin: 0;
  overflow: hidden;
  position: relative;
}
/*-------------------------------------------HEADER*/

header{
  height: 100vh;
  background: no-repeat center/cover url("http://images.ctfassets.net/vnxry7jc7f2k/5RpJJJgujK6rFOlN0ljzi7/06352b48f4acafa52500299cb6475299/leggera_SLIDER_MOOD.jpg?w=1200&q=80");
  color:var(--amarillo);  
}

/*--------------------------------------------NAVBAR*/
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;   
  padding: 1rem 2rem;
}
.marca{
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;  
  font-weight: 900;
  cursor: pointer;
}
.shop-about{ 
  background-color: var(--amarillo);
  color:black;
  cursor: pointer;
}
.shop-about span{
  display: inline-block;
  padding: 0.5rem;
  font-weight: 600;
}
.shop-about span:hover{
  background:black;
  color:var(--amarillo)
}
.icon-user{
  display: inline-block;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: black;
}
/*---------------------------------------MEDIAQUERIES*/
@media (min-width:1000px){
  #h1Animado{   
    animation: titulo 2.5s;
    animation-timing-function: linear;
  }
}